.food-item {
  width: 100%;
  margin: auto;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--shadow);
  transition: 0.3s;
  animation: fadeIn 1s;
  background-color: var(--card-bg);
}

.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
  background-color: var(--card-bg);
  border-radius: 0px 0px 15px 15px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.food-item-name-rating img {
  width: 70px;
}

.food-item-desc {
  font-size: 12px;
  color: var(--text-color);
  opacity: 0.7;
}

.food-item-price {
  color: var(--accent-color);
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: var(--card-bg);
    box-shadow: 0 2px 8px var(--shadow);
}

.food-item-counter img {
    width: 25px;
}
